---
interface Props {
	class?: string;
}

const className = Astro.props.class || '';
---

<div class:list={['h-[600px] w-full rounded border border-dashed border-accent-600 dark:border-accent-200', className]}>
	<slot />
</div>
