---
import { getPackagePeerDeps, type PackageEntry } from '../../data/package-deps';

interface Props {
	package: string;
}

const { package: packageName } = Astro.props;
const entries: PackageEntry[] = await getPackagePeerDeps(packageName);
---

{
	entries.length > 0 ? (
		entries.map((entry: PackageEntry) => (
			<div>
				<h4>
					Version: <code>{entry.version}</code>
				</h4>
				<table>
					<thead>
						<tr>
							<th>Peer Dependency</th>
							<th>Version</th>
						</tr>
					</thead>
					<tbody>
						{Object.entries(entry.peerDependencies).map(([name, version]) => (
							<tr>
								<td>
									<code>{name}</code>
								</td>
								<td>
									<code>{version}</code>
								</td>
							</tr>
						))}
					</tbody>
				</table>
			</div>
		))
	) : (
		<p>
			<em>No additional peer dependencies required beyond the core dependencies.</em>
		</p>
	)
}
